body {
    
  /*background: linear-gradient(45deg, white, transparent 20%),linear-gradient(1890deg, white, transparent 20%)  url('../images/background.jpg') no-repeat center center fixed;*/  
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;

}

.jumbotron {
  background: none;
}

#jumbotronShade {
  background-color: rgba(27, 27, 27, 0.808);
  border-radius: 7px;
  }

#blueHighlight{
  background-color: rgba(9, 9, 90, 0.76);
  border-radius: 7px;
}

.card {
  background: none;
}

#skillsShade {
background-color: rgba(27, 27, 27, 0.575);
border-radius: 7px;
}

#background1 {
  background: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 21%;
  padding-top: 7%;
}

.wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.pos-f-t {
height: 100%;
width: 100%;
position:fixed;
z-index: 100;
}



