html{
  scroll-behavior: smooth;
}

body {
  
}
.fullpageContainer {
  
}

/* This is donw so that when pressing the home button*/
#home {
  padding-top:56px;
}

.jumbotron {
  background: none; 
}

#jumbotronShade {
  background-color: rgba(27, 27, 27, 0.808);
  border-radius: 7px;
  overflow: hidden;
}

.blueHighlight{
  background-color: rgba(9, 9, 90, 0.76);
  border-radius: 7px;
}

/*Navbar space padding*/
.card {
  background: none;
}

#skills, #portfolio{
  padding-top: 55px;
}
#home, #skills {
  margin-bottom: 150px;
}

#skillsShade {
  background-color: rgba(27, 27, 27, 0.795);
  border-radius: 7px;
}

.windowCover{
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#background1 {
  background: url('../images/background1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 7%;
  padding-bottom: 8%;
}
#background2 {
  background: url('../images/background2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 2%;
  padding-bottom: 15%;
}

#background3 {
  background: url('../images/background1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 2%;
  padding-bottom: 14%;

}

.option {
  padding-top: 0px;
}

#contact {
  padding-bottom: 600px; 
  /*This was done to test out scrolling feature seince contact is the last div in the page so far.. 4/9/19 */
}

#homeLogo {
  color: #fff;
  margin-right: 5px;
}

#homeLogo:hover {
  color: rgb(173, 173, 173);
}

#htmlCssLogo {
  margin: 0 auto;
  width: 95%;
  margin-top: 25px;
  opacity: 0.7;
}
#javaScriptLogo{
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 5px;
  opacity: 0.7;
}

#sqlLogo {
  margin: 0 auto;
  width: 60%;
  margin-top: 33px;
  opacity: 0.6;
}

#pythonLogo {
  margin: 0 auto;
  width: 58%;
  margin-top: 33px;
  opacity: 0.6;
}

#pizzaProjectLogo{
  margin: 0 auto;
  width: 70%;
  margin-top: 40px;
  margin-bottom: 5px;
  opacity: 0.9;
}


#pizzaProjectLogo:hover {
  opacity: 0.7;
}
