body {
    
  background:/* linear-gradient(45deg, white, transparent 20%),linear-gradient(1890deg, white, transparent 20%) , */ url('../images/background.jpg') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

.jumbotron {
background: none;
}

#blueHighlight{
background-color: rgba(9, 9, 90, 0.76);
border-radius: 7px;
}

#jumbotronShade {
background-color: rgba(27, 27, 27, 0.808);
border-radius: 7px;
}